.product {
    margin: 0 auto;
    max-width: 960px;
}

.product-image {
    box-sizing: border-box;
    float: left;
    width: 60%;
    padding: 10px;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    box-sizing: border-box;
    float: left;
    width: 40%;
    padding: 40px 10px 10px 10px;
}

.buy-button {
    display: block;
    margin: 20px auto;
    background-color: #0098a1;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #0098a1;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-button:hover {
    background-color: #333333;
    border-color: #333333;
}

.variant-select {
    display: block;
    margin: 20px auto;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 1.2em;
    color: #333333;
}

.display-price {
    font-size: 1.2em;
    font-weight: bold;
}

@media screen and (max-width: 560px) {
    .product-image {
        width: 100%;
    }

    .product-image img {
        max-width: 60%;
    }

    .product-info {
        width: 100%;
        padding-top: 10px;
    }
}